*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(background.jpg);
    background-size: cover;
    
}
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    font-size: 4em;
    color: #fff;
}
.banner .content p
{
    font-size: 1em;
    color: #fff;
    text-align: center;
}
.btn
{
    font-size: 1em;
    color: #fff;
    background: #ff7c01;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 6px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0,0.05);
}
header .logo
{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo
{
    color: #111;
}
header .logo span
{
    color: #ffd001;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    text-decoration: none;
    color: rgb(250, 241, 241);
    font-weight: 300;
}

header.sticky .navigation li a
{
    color: rgb(5, 5, 5);
}
header.sticky .navigation li a:hover
{
    color: rgb(153, 5, 252);
}

section
{
    padding: 100px;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.tittleText
{
    color: rgb(185, 139, 80);
    font-size: 2em;
    font-weight: 300;
}
.tittleText span
{
    color: #ffa601;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx
{
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%;
}
.row .col50 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container
{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 max-width: 1500px;
 margin: 60px 0;
}
.container .card
{
    position: relative;
    min-width: 320px;
    height: 400px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 155px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box
{
   position: absolute;
   top: 0px;
   left: 0px;
   right: 20px;
   bottom: 20px;
   background: #bfc212;
   border: 2px solid #066e9e;
   border-radius: 15px;
   box-shadow: 0 20px 50px rgba(153, 151, 28, 0.5);
   transition: 0.5s;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.container .card .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
.container .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.container .card .box .content
{
    padding: 20px;
    text-align: center;

}
.container .card .box .content h2
{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
}
.container .card .box .content h3
{
    font-size: 1.8em;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content p
{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: linear-gradient(45deg, #00ff40, #00ffff);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container .card:nth-child(1) .box .content a
{
    background: #141414;

}
.container .card:nth-child(2) .box .content a
{
    background: #0e0407;

}
.container .card:nth-child(3) .box .content a
{
    background: #0c0c0b;

}
.body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 60px 0;
}
.box1
{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box1:hover
{
    height: 400px;
}
.box1 .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box1 .imgBx img
{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box1:hover .imgBx img
{
    opacity: 1;
}
.box1:before
{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: rgb(243, 181, 10);
    z-index: -2;
}
.box1:after
{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: rgb(212, 177, 21);
    z-index: -2;
    filter: blur(40px);
}
.box1:before,
.box1:after
{
    background: linear-gradient(235deg,#0e0d0d,#0a0a0a,#111111);
}
.box1:nth-child(2):before,
.box1:nth-child(2):after
{
    background: linear-gradient(235deg,#050505,#080808,#0f0e0b);
}
.box1:nth-child(3):before,
.box1:nth-child(3):after
{
    background: linear-gradient(235deg,#0f0f0f,#0f0f0e,#0c0c0b);
}
.box1 .content1
{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgb(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box1:hover .content1
{
    opacity: 1;
}
.box1 .content1 h2
{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box1 .content1 h2 span
{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}








.contact
{
    background: url(logo.png);
    background-size: cover;
}
.titlea
{
    position: relative;
    right: 0;
    left: 400px;
}
.titlea p
{
    position: relative;
    right: 150px;
    color: ivory;
}
.containerc
{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 75px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}
.containerc::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.containerc h2
{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.containerc .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.containerc .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.containerc .row100 .col .inputBox
{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.containerc .row100 .col .inputBox input,
.containerc .row100 .col .inputBox textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding:  0 10px;
    z-index: 1;
    color: #000;
}
.containerc .row100 .col .inputBox .text
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.containerc .row100 .col .inputBox input:focus + .text,
.containerc .row100 .col .inputBox input:valid + .text,
.containerc .row100 .col .inputBox textarea:focus + .text,
.containerc .row100 .col .inputBox textarea:valid + .text
{
    top: -35px;
    left: -10px;
}
.containerc .row100 .col .inputBox .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.containerc .row100 .col .inputBox input:focus ~ .line,
.containerc .row100 .col .inputBox input:valid ~ .line
{
    height: 100%;
}
.containerc .row100 .col .inputBox.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.containerc .row100 .col .inputBox textarea:focus ~ .line,
.containerc .row100 .col .inputBox textarea:valid ~ .line
{
    height: 100%;
}
.containerc .row100 .col input[type="submit"]
{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}
@media (max-width: 768px)
{
    .titlea
    {
        position: relative;
        right: 0;
        left: 130px;
    }
    .titlea p
    {
        position: relative;
        right: 600px;
        left: -100px;
        color: ivory;
    }
    .containerc
    {
        padding: 20px;
    }
    .containerc h2
    {
        font-size: 28px;
    }
}



.copyrightText
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p
{
    color: rgb(53, 43, 43);
}
.copyrightText a
{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 991px)
{
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li 
    {
        margin-left: 0;
    }
    header .navigation li a
    {
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2 
    {
        font-size: 3em;
        color: #fff;
    }
    .row 
    {
        flex-direction: column;
    }
    .row .col50
    {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx
    {
        height: 300px;
        margin-top: 20px;
    }
    .container .content
    {
        margin-top: 20px;
    }
    .container .content .box
    {
        margin: 10px;
    }
    .container .content .box .imgBx
    {
        height: 260px;
    }
    .title
    {
        text-align: center;
    }
    .tittleText
    {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .testimonials .content .box
    {
        margin: 10px;
        padding: 20px;
    }
    .contactForm
    {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media (max-width: 480px)
{
    .banner .content h2
    {
        font-size: 2.2em;
        color: #fff;
    }
}

